/**
 * Component: Custom
 * -----------------------------------------------------------------------------
 * Customized style changes
 *
 */

// added
//   .fa-brands {
//   font-size: 280px;
// }
.now-playing {
  
  &--idle {
    background: #333333;
    color: #1DB954;
    filter: brightness(0.25);
  }

  .fa-spotify {

  }
  
  .fa-face-frown-open {
    // font-size: 0.9em;
    margin-right: 15px;
  }
}
