/**
 * Component: Custom
 * -----------------------------------------------------------------------------
 * Customized style changes
 *
 */

#app .now-playing {
  
  &--idle {
    background: #333333;
    color: #1DB954;
    filter: brightness(0.25);
  }

  .favicon-container {
    width:100%;
    height: 100%;
  }
  .favicon-container .autosize {
    display: inline-block;
    width: 100%;
    height: 100%;
  }

  .fa-spotify .autowidth {
    
  }
  
  .fa-face-frown-open {
    // font-size: 0.9em;
    margin-right: 15px;
  }
}
