/**
 * Component: Now Playing.
 * -----------------------------------------------------------------------------
 * Styles for the 'Now Playing' screen.
 *
 */

body #app {
  height: 100%;
  width: 100%;
}

@media only screen and (min-width: 800px) {
  body #app {
    overflow: hidden;
  }
}

.now-playing {
  background-color: var(--colour-background-now-playing);
  color: var(--color-text-primary);
  display: flex;
  flex-flow: column nowrap;
  // height: 100%;
  // padding: var(--spacing-l);
  width: 100%;

  &__cover,
  &__details {
    // padding: var(--spacing-m);
    text-align: center;
    width: 100%;
    
    // added
    padding: 65px;
  }

  &__cover {
    // max-width: 400px;
  }

  &__image {
    // box-shadow: 1px 1px 16px -2px rgba(0, 0, 0, .3);
    height: auto;
    // max-width: 60vw;
    // width: 100%;

    // added
    border-radius: 7px;
    box-shadow: 1px 1px 16px -2px rgba(0, 0, 0, 1);
    max-height: calc(100vh - 130px);
    width: auto;
    max-width: 100%;
  }

  &__details {
    text-align: center;
    padding-top: 0;
  }

  &__track {
    font-weight: var(--font-weight-heading);

    // added
    font-size: 3em;
    margin: 25px 0;
    width: 100%;
  }

  &__artists {
    opacity: 0.8;

    // added
    font-size: 2.5em;
    font-weight: bold;
    width: 100%;
  }

  &--active {
    align-items: center;
    // justify-content: center;
  }

  &--idle {
    display: flex;
    align-items: center;
    // justify-content: center;

    // added
    justify-content: flex-start;
    background: #333333;
    color: #1DB954;
    height: 100%;
    filter: brightness(25%);
  }

  // added

  &__album {
    opacity: 0.8;
    font-size: 1.875em;
    margin: 0;
    font-style: italic;
    font-weight: bold;
    width: 100%;
  }

  &__idle-heading {
    font-size: 5em;
  }
  
  .fa-spotify {
    font-size: 311px;
    text-align: center;
  }

  .fa-face-sad-tear,
  .fa-face-frown-open,
  .fa-face-tired,
  .fa-face-angry {
    font-size: 0.8em;
    margin-left: 15px;
  }

  .flex-details {
    display: flex;
    flex-wrap: nowrap;
    flex-flow: column;
  }
  
  .flex-track,
  .flex-album,
  .flex-artists {
    display: flex;
  }

  .flex-icon {
    width: 100%;
    max-width: 60px;
    text-align: right;
  }

  .flex-text {
    text-align: left;
    margin-left: 15px;
  }

  @media only screen and (max-width: 799px) {
    .fa-spotify {
      font-size: 230px;
      text-align: center;
    }
    &--idle &__idle-heading {
      font-size: 3em;
    }
    &__artists,
    &__album {
      font-size: 1.875em;
    }
    &__track {
      font-size: 2.5em;
    }
    &__image {
      max-height: 100%;
    }
  }
 
  @media only screen and (min-width: 800px) {
    flex-flow: row nowrap;
    // padding: 10%;

    // added
    height: 100%;

    &__artists,
    &__album {
      font-size: 1.875em;
    }
    &__track {
      font-size: 2.5em;
    }
    
    &__cover,
    &__details {
      // width: 50%;
      // max-width: 495px;

      // added
      width: 60%;
    }
    &__cover {
      padding-right: 65px;
      height: 100%;
      align-items: center;
      justify-content: center;
      display: flex;
    }

    &__details {
      text-align: left;

      // added
      padding-left: 0;
      padding-top: 65px;
      width: 40%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      align-content: center;
    }

    // added
    &--idle &__cover,
    &--idle &__details {
      width: 50%;
    }
    &--idle &__cover {
      padding-right: 32px;
      // text-align: right;
    }
    &--idle &__details {
      padding-left: 33px;
    }
    &--idle &__idle-heading {
      font-size: 3em;
    }
    .fa-spotify {
      font-size: 311px;
      text-align: center;
    }
    .flex-wrap {
      align-items: start;
      align-content: start;
    }
  }
  @media only screen and (min-width: 1024px) {
      &__artists,
      &__album {
        font-size: 2.5em;
      }
      &__track {
        font-size: 3em;
      }
    &--idle &__idle-heading {
      font-size: 5em;
    }
    .fa-spotify {
      font-size: 428px;
    }
  }
}
