/**
 * Component: Now Playing.
 * -----------------------------------------------------------------------------
 * Styles for the 'Now Playing' screen.
 *
 */

body #app {
  height: 100%;
  width: 100%;
}

.now-playing {
  background-color: var(--colour-background-now-playing);
  color: var(--color-text-primary);
  display: flex;
  flex-flow: column nowrap;
  // height: 100%;
  // padding: var(--spacing-l);
  width: 100%;

  &__cover,
  &__details {
    // padding: var(--spacing-m);
    text-align: center;
    width: 100%;

    // added
    padding: 66px;
  }

  &__cover {
    // max-width: 400px;
  }

  &__image {
    box-shadow: 1px 1px 16px -2px rgba(0, 0, 0, .3);
    height: auto;
    // max-width: 60vw;
    width: 100%;

    // added
    border-radius: 7px;
  }

  &__details {
    text-align: center;
    padding-top: 0;
  }

  &__track {
    font-weight: var(--font-weight-heading);

    // added
    font-size: 2.5em;
  }

  &__artists {
    opacity: 0.8;

    // added
    font-size: 1.875em;
  }

  &--active {
    align-items: center;
    // justify-content: center;
  }

  &--idle {
    display: flex;
    align-items: center;
    justify-content: center;

    // added
    background: #333333;
    color: #1DB954;
    height: 100%;
    filter: brightness(25%);
  }

  // added

  &__album {
    opacity: 0.8;
    font-size: 1.4625em;
  }
  
  .fa-spotify {
    font-size: 250px;
    text-align: center;
  }

  .fa-face-sad-tear,
  .fa-face-frown-open,
  .fa-face-tired,
  .fa-face-angry {
    font-size: 0.8em;
    margin-right: 15px;
  }
  
  .fa-music,
  .fa-user,
  i.fa-solid..fa-compact-disc {
    margin-right: 15px;
  }
  
  &--idle &__image {
   box-shadow: none;
  }

  @media only screen and (min-width: 767px) {
    flex-flow: row nowrap;
    // padding: 10%;

    // added
    height: 100%;

    &__cover,
    &__details {
      // width: 50%;
      //max-width: 495px;

      // added
      width: 60%;
      max-width: 768px;
    }

    &__details {
      text-align: left;

      // added
      padding-left: 0;
      padding-top: 66px;
      width: 40%;
      max-width: 512px;
    }

    // added
    &--idle &__cover,
    &--idle &__details {
      width: 50%;
    }

    .fa-spotify {
      font-size: 350px;
      text-align: right;
    }
  }
}
